@import '../../index.scss';
.card {
  color: white;
  background: #fa7453;
  padding-left: 54px;
  padding-right: 59px;
  max-width: 446px;
  position: absolute;
  top: 90px;
  right: 95px;
  padding-top: 58px;
  border-radius: 12px;
  padding-bottom: 48px;
  z-index: 3;

  @include mq(1200px) {
    max-width: 399px;
    padding-inline: 48px;
    padding-block: 48px;
    top: 150px;
    right: 58px;
  }

  @include mq(700px) {
    left: 50%;
    right: 0;
    width: 100%;
    top: 385px;
    transform: translateX(-50%);
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fcfaf9;
    border-radius: 12px;
    margin-bottom: 21px;
    @include mq(1200px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 11px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #fcfaf9;
    margin-bottom: 39px;
    @include mq(1200px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 36px;
    }
  }
  .price {
    margin-bottom: 45px;
    span {
      font-weight: 700;
      font-size: 65px;
      line-height: 52px;
      color: #fcfaf9;
      margin-right: 16px;
    }
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #fcfaf9;

    display: flex;
    align-items: center;
    @include mq(1200px) {
      margin-bottom: 31px;
    }
  }
  button {
    background: #191826;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #fcfaf9;
    padding-block: 15px;
    width: 100%;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.98);
      background: #66e2dc;
    }

    svg {
      margin-right: 8px;
    }
  }
  .android {
    background: #fcfaf9;
    color: #191826;
    margin-bottom: 0;
    &:active {
      background: #ffb964;
    }
  }
}
