.header {
  max-width: 1110px;
  width: 100%;
  margin-bottom: 321px;
  svg {
    margin-bottom: 127px;
  }

  h1 {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
    margin-bottom: 40px;
    max-width: 865px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
    max-width: 865px;
  }
}
