@import '../../index.scss';

.footer {
  display: flex;
  width: 100%;
  max-width: 1110px;
  justify-content: space-between;
  .logo {
    @include mq(1200px) {
      width: 100%;
      margin-bottom: 32px;
    }
  }
  @include mq(1200px) {
    flex-wrap: wrap;
  }

  p {
    transform: translateX(-113px);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    span {
      font-weight: 700;
    }
    @include mq(1200px) {
      flex-wrap: wrap;
      transform: translateX(0);
    }
  }
  ul {
    display: flex;
    gap: 20px;
    align-self: center;
  }
}
